In [55]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [56]:
purchase_data.dtypes

Purchase ID      int64
SN              object
Age              int64
Gender          object
Item ID          int64
Item Name       object
Price          float64
dtype: object

In [2]:
s = len(purchase_data["SN"].unique().tolist()) 
s

576

In [57]:
unique_items = len(purchase_data["Item ID"].unique().tolist())
number_of_pruchases = len(purchase_data["Item ID"])
avg_price = purchase_data["Price"].sum() / number_of_pruchases
avg_price_rounded =round(avg_price, 2)
total_rev = round(purchase_data["Price"].sum(), 2)


df = pd.DataFrame([unique_items, avg_price_rounded, number_of_pruchases, total_rev],
                  columns=[['Number of Unique Items'], ['Average Price'], ['Number of Purchases'], ['Total Revenue']])

# intialise data of lists. 
data = {'Number of Unique Items':[unique_items], 'Average Price':[avg_price_rounded], 
        'Number of Purchases':[number_of_pruchases], 'Total Revenue':[total_rev] } 
  
# Create DataFrame 
df = pd.DataFrame(data) 
df['Average Price'] = df['Average Price'].map('${:,.2f}'.format)
df['Total Revenue' ] = df['Total Revenue'].map('${:,.2f}'.format)
# Print the output. 
df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

In [94]:
Sn_gender_Male = purchase_data.loc[purchase_data['Gender'] == 'Male']
 
count_of_unique_males = len(Sn_gender_Male.SN.unique())
count_of_unique_males
Sn_gender_female = purchase_data.loc[purchase_data['Gender'] == 'Female']
count_of_unique_females = len(Sn_gender_female.SN.unique())
count_of_unique_females
Sn_gender_other = purchase_data.loc[purchase_data['Gender'] == 'Other / Non-Disclosed']
count_of_unique_other = len(Sn_gender_other.SN.unique())
count_of_unique_other
Male_percent = count_of_unique_males/(count_of_unique_males + count_of_unique_females + count_of_unique_other)*100
Female_percent = count_of_unique_females/(count_of_unique_males + count_of_unique_females + count_of_unique_other)*100
other_percent = count_of_unique_other/(count_of_unique_males + count_of_unique_females + count_of_unique_other)*100

gender_demo_data = {'Total Count': [count_of_unique_males, count_of_unique_females, count_of_unique_other], 
        'Percentage of Players': [Male_percent, Female_percent,other_percent]} 
        
gender_demo = pd.DataFrame(data, index = ['Male', 'Female', 'Other / Non-Disclosed'])


gender_demo['Percentage of Players'] = gender_demo['Percentage of Players'].map('{:.2f}%'.format)
gender_demo

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%

In [103]:
#Sn_gender_Male = purchase_data.loc[purchase_data['Gender'] == 'Male']
#male_total_purchase = Sn_gender_Male.Price.sum()
male_total_purchase = Sn_gender_Male.Price.sum()
Male_total_purchase
female_total_purchase = Sn_gender_female.Price.sum()
female_total_purchase

other_total_purchase= Sn_gender_other.Price.sum()
other_total_purchase

count_of_Male_purchases = len(Sn_gender_Male.SN)
count_of_Male_purchases
count_of_female_purchases = len(Sn_gender_female.SN)
count_of_female_purchases
count_of_other_purchases = len(Sn_gender_other.SN)
count_of_other_purchases

male_avg_purchase = Male_total_purchase/count_of_Male_purchases
male_avg_purchase

female_avg_purchase = female_total_purchase/count_of_female_purchases
female_avg_purchase

other_avg_purchase = other_total_purchase/count_of_other_purchases
other_avg_purchase 

male_avg_total_pp = Male_total_purchase/count_of_unique_males
male_avg_total_pp

female_avg_total_pp = female_total_purchase/count_of_unique_females
female_avg_total_pp

other_avg_total_pp = other_total_purchase/count_of_unique_other
other_avg_total_pp

purch_analysis_gender_data = {'Purchase Count': [count_of_female_purchases, count_of_Male_purchases, count_of_other_purchases], 
        'Average Purchase Price': [female_avg_purchase, male_avg_purchase, other_avg_purchase],
          'Total Purchase Value': [female_total_purchase, Male_total_purchase,other_total_purchase],   
            'Avg Total Purchase per Person':[female_avg_total_pp, male_avg_total_pp, other_avg_total_pp]} 
        
purch_analysis_gender_demo = pd.DataFrame(purch_analysis_gender_data, index = ['Female', 'Male', 'Other / Non-Disclosed'])


purch_analysis_gender_demo['Average Purchase Price'] = purch_analysis_gender_demo['Average Purchase Price'].map('${:.2f}'.format)
purch_analysis_gender_demo['Avg Total Purchase per Person'] = purch_analysis_gender_demo['Avg Total Purchase per Person'].map('${:.2f}'.format)
purch_analysis_gender_demo['Total Purchase Value'] = purch_analysis_gender_demo['Total Purchase Value'].map('${:.2f}'.format)
purch_analysis_gender_demo

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,$1967.64,$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

In [165]:
new_df = purchase_data

bins = pd.cut(new_df['Age'], [0, 9, 14, 19, 24, 29, 34, 39,150])

new_df.groupby(bins)['Age'].

#In [2]: bins = pd.cut(df['Value'], [0, 100, 250, 1500])

#In [3]: df.groupby(bins)['Value'].agg(['count', 'sum'])

#new_df1 = new_df.drop_duplicates(['SN'])
#bins = [0, 9, 14, 19, 24, 29, 34, 39,150]
#names = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']
#groups = new_df1.groupby(pd.cut(new_df1['Age'], bins, labels=names))
#groups.Age.count()

Age
<10       17
10-14     22
15-19    107
20-24    258
25-29     77
30-34     52
35-39     31
40+       12
Name: Age, dtype: int64